/* Custom CSS for additional styling */
body {
    background-color: #343a40;
    /* Dark background color */
    color: #ffffff;
    /* Text color */
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    /* Slightly transparent white background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.img-fluid.max-width-500 {
    max-width: 500px;
}

.navbar {
    background-color: #343a40;
    /* Dark navbar background */
}