/* Custom CSS for additional styling */
body {
    background-color: #343a40;
    /* Dark background color */
    color: #ffffff;
    /* Text color */
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    /* Slightly transparent white background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.2);
    /* Slightly transparent white background */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.skill-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-row img {
    width: 50px;
    margin-right: 20px;
}

.github-link {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    border-radius: 5px;
}

.max-width-700 {
    width: 700px;
}

.github-link:hover {
    transform: scale(1.1);
    transition-duration: 0.25s;
}

.footer {
    background-color: #343a40;
    /* Dark footer background */
    padding: 20px 0;
    text-align: center;
}